$font-main: "Poppins", sans-serif;

// Cores (Extraídas do Figma)
$color-blue: #3442b5;
$color-yellow: #f7ca11;
$color-purple: #271c47; 
$color-gray-medium: #9f9f9f;
$color-gray-dark: #3f3f40;
$color-white: #ffffff;
$color-text-body: #3f3f40;
$color-border: #e0e0e0;

// Layout
$container-max-width: 1280px;
