// Tipografia
$font-main: 'Poppins', sans-serif;

// Cores (Extraídas do Figma)
$color-blue: #3442B5;
$color-yellow: #f7ca11;
$color-purple: #271c47; // Cor principal do Header/Textos
$color-gray-medium: #9f9f9f;
$color-gray-dark: #3f3f40;
$color-white: #ffffff;

// Outras cores comuns em layouts de e-commerce
$color-text-body: #3f3f40;
$color-border: #e0e0e0;


// Layout
$container-max-width: 1280px; // Verifique a largura da grid no Figma